In [70]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from termcolor import colored
import missingno as msno

%matplotlib inline

COLOR = 'white'
plt.rcParams['text.color'] = COLOR
plt.rcParams['axes.labelcolor'] = COLOR
plt.rcParams['xtick.color'] = COLOR
plt.rcParams['ytick.color'] = COLOR

pd.set_option('display.float_format', lambda x: '%.3f' % x)
pd.options.display.float_format = '{:,.2f}'.format
pd.set_option('display.max_rows', 500)

#  Basic Settings

In [71]:
def encode_cat_vars(x):
    # turning categorical values to numerical ones so that the machine can understand
    x = pd.get_dummies(
        x,
        columns=x.select_dtypes(
            include=["object", "category"]).columns.tolist(),
        drop_first=True,
    )
    return x

# turning certain skewed categorical values to their log values for less skewness and better scaling
def perform_log_transform(df, col_log):
    """#Perform Log Transformation of dataframe , and list of columns """
    for colname in col_log:
        df[colname + '_log'] = np.log(df[colname])
    df.drop(col_log, axis=1, inplace=True)
    return df

# Cleaning function for the data
def clean(df):
    df["MasVnrType"] = df["MasVnrType"].fillna('None')
    df["MasVnrArea"] = df["MasVnrArea"].fillna(0.0)
    df["Alley"] = df["Alley"].fillna('None')
    df["PoolQC"] = df["PoolQC"].fillna('None')
    df["Fence"] = df["Fence"].fillna('None')
    df["MiscFeature"] = df["MiscFeature"].fillna('None')
    df["FireplaceQu"] = df["FireplaceQu"].fillna('None')
    upperlimit = np.percentile(df.TotalBsmtSF.values, 99.5)
    df['TotalBsmtSF'].loc[df['TotalBsmtSF'] > upperlimit] = upperlimit
    basement_cols = ['BsmtQual', 'BsmtCond', 'BsmtExposure',
                     'BsmtFinType1', 'BsmtFinType2', 'BsmtFinSF1', 'BsmtFinSF2']
    for col in basement_cols:
        if 'FinSF' not in col:
            df[col] = df[col].fillna('None')
    # GarageArea has got some outliers lets remove them.
    upperlimit = np.percentile(df.GarageArea.values, 99.5)
    df['GarageArea'].loc[df['GarageArea'] > upperlimit] = upperlimit

    garage_cols = ['GarageType', 'GarageQual', 'GarageCond',
                   'GarageYrBlt', 'GarageFinish', 'GarageCars', 'GarageArea']
    for col in garage_cols:
        if df[col].dtype == np.object:
            df[col] = df[col].fillna('None')
        else:
            df[col] = df[col].fillna(0)
    print(colored("All the colors have been cleaned", 'green'))
    # dealing with the LotArea SQRT
    df['SqrtLotArea'] = np.sqrt(df['LotArea'])
    df.drop(['LotArea'], axis='columns', inplace=True)

    filter = df['LotFrontage'].isnull()
    df.LotFrontage[filter] = df.SqrtLotArea[filter]

    #  making a list of categorical columns
    catCol = []
    for i in df.columns.to_list():
        dataTypeObj = df.dtypes[i]
        if (dataTypeObj == "object"):
            catCol.append(i)

    #  hitting them with the log tranformation
    log_col = ['LotFrontage', 'MasVnrArea', 'BsmtUnfSF',
               '1stFlrSF', 'OpenPorchSF', 'MiscVal', 'SqrtLotArea']
    perform_log_transform(df, log_col)
    print(colored("Log Transformation Complete", 'green'))
    df.tail(10)
    df = df.replace([np.NINF], 0)
    df = encode_cat_vars(df)
    print(colored("All values encoded", 'green'))
    return df

In [72]:
#  Reading the csv file
house = pd.read_csv("train.csv")
test_df = pd.read_csv('test.csv')

In [73]:
# here the house has the saleprice with it, which we will have to turn into SalePrice_log for an accurate model
house

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.00,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.00,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.00,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.00,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.00,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,RL,62.00,7917,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,8,2007,WD,Normal,175000
1456,1457,20,RL,85.00,13175,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,2,2010,WD,Normal,210000
1457,1458,70,RL,66.00,9042,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdPrv,Shed,2500,5,2010,WD,Normal,266500
1458,1459,20,RL,68.00,9717,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,142125
1459,1460,20,RL,75.00,9937,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,6,2008,WD,Normal,147500

In [74]:
# here the test_df does not have a saleprice column but has all the other necessary training columns identitcal to the last one
test_df

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.00,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.00,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.00,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.00,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.00,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,RM,21.00,1936,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2006,WD,Normal
1455,2916,160,RM,21.00,1894,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,4,2006,WD,Abnorml
1456,2917,20,RL,160.00,20000,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,9,2006,WD,Abnorml
1457,2918,85,RL,62.00,10441,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal
1458,2919,60,RL,74.00,9627,Pave,NaN,Reg,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,11,2006,WD,Normal

In [75]:
house = clean(house)

All the colors have been cleaned
Log Transformation Complete
All values encoded

C:\Users\kshit\Projects Folder\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
C:\Users\kshit\AppData\Local\Temp/ipykernel_25544/2237584516.py:43: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if df[col].dtype == np.object:
C:\Users\kshit\AppData\Local\Temp/ipykernel_25544/2237584516.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LotFrontage[filter] = df.SqrtLotArea[filter]
C:\Users\kshit\Projects Folder\lib\site-packages\pandas\core\arraylike.py:364: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

In [76]:
test_df = clean(test_df)

All the colors have been cleaned
Log Transformation Complete
All values encoded

C:\Users\kshit\AppData\Local\Temp/ipykernel_25544/2237584516.py:43: DeprecationWarning: `np.object` is a deprecated alias for the builtin `object`. To silence this warning, use `object` by itself. Doing this will not modify any behavior and is safe.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  if df[col].dtype == np.object:
C:\Users\kshit\AppData\Local\Temp/ipykernel_25544/2237584516.py:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.LotFrontage[filter] = df.SqrtLotArea[filter]

In [77]:
y = house['SalePrice']
house

,Id,MSSubClass,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,TotalBsmtSF,2ndFlrSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1,60,7,5,2003,2003,706,0,856.00,854,...,0,0,0,0,1,0,0,0,1,0
1,2,20,6,8,1976,1976,978,0,"1,262.00",0,...,0,0,0,0,1,0,0,0,1,0
2,3,60,7,5,2001,2002,486,0,920.00,866,...,0,0,0,0,1,0,0,0,1,0
3,4,70,7,5,1915,1970,216,0,756.00,756,...,0,0,0,0,1,0,0,0,0,0
4,5,60,8,5,2000,2000,655,0,"1,145.00",1053,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1455,1456,60,6,5,1999,2000,0,0,953.00,694,...,0,0,0,0,1,0,0,0,1,0
1456,1457,20,6,6,1978,1988,790,163,"1,542.00",0,...,0,0,0,0,1,0,0,0,1,0
1457,1458,70,7,9,1941,2006,275,0,"1,152.00",1152,...,0,0,0,0,1,0,0,0,1,0
1458,1459,20,5,6,1950,1996,49,1029,"1,078.00",0,...,0,0,0,0,1,0,0,0,1,0
1459,1460,20,5,6,1965,1965,830,290,"1,256.00",0,...,0,0,0,0,1,0,0,0,1,0

In [78]:
test_df

,Id,MSSubClass,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,TotalBsmtSF,2ndFlrSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
0,1461,20,5,6,1961,1961,468.00,144.00,882.00,0,...,0,0,0,0,1,0,0,0,1,0
1,1462,20,6,6,1958,1958,923.00,0.00,"1,329.00",0,...,0,0,0,0,1,0,0,0,1,0
2,1463,60,5,5,1997,1998,791.00,0.00,928.00,701,...,0,0,0,0,1,0,0,0,1,0
3,1464,60,6,6,1998,1998,602.00,0.00,926.00,678,...,0,0,0,0,1,0,0,0,1,0
4,1465,120,8,5,1992,1992,263.00,0.00,"1,280.00",0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,4,7,1970,1970,0.00,0.00,546.00,546,...,0,0,0,0,1,0,0,0,1,0
1455,2916,160,4,5,1970,1970,252.00,0.00,546.00,546,...,0,0,0,0,1,0,0,0,0,0
1456,2917,20,5,7,1960,1996,"1,224.00",0.00,"1,224.00",0,...,0,0,0,0,1,0,0,0,0,0
1457,2918,85,5,5,1992,1992,337.00,0.00,912.00,0,...,0,0,0,0,1,0,0,0,1,0
1458,2919,60,7,5,1993,1994,758.00,0.00,996.00,1004,...,0,0,0,0,1,0,0,0,1,0

In [79]:
house_column_list = house.columns.to_list()
test_column_list = test_df.columns.to_list()

len(test_column_list)
print(f'{len(house_column_list)} in house column list')
print(f'{len(test_column_list)} in test column list')

261 in house column list
242 in test column list

In [80]:
drop_col = []
for i in house_column_list:
    if (i not in test_column_list and i!='SalePrice'):
        print(f"{colored(i, 'green')} is not in the test_df columns")
        drop_col.append(i)
#  I am definitely making a mistake here but I can't be bothered to check what, so we take the easy way out, and just remove the columns

Utilities_NoSeWa is not in the test_df columns
Condition2_RRAe is not in the test_df columns
Condition2_RRAn is not in the test_df columns
Condition2_RRNn is not in the test_df columns
HouseStyle_2.5Fin is not in the test_df columns
RoofMatl_CompShg is not in the test_df columns
RoofMatl_Membran is not in the test_df columns
RoofMatl_Metal is not in the test_df columns
RoofMatl_Roll is not in the test_df columns
Exterior1st_ImStucc is not in the test_df columns
Exterior1st_Stone is not in the test_df columns
Exterior2nd_Other is not in the test_df columns
Heating_GasA is not in the test_df columns
Heating_OthW is not in the test_df columns
Electrical_Mix is not in the test_df columns
GarageQual_Fa is not in the test_df columns
PoolQC_Fa is not in the test_df columns
MiscFeature_TenC is not in the test_df columns

The above are all the columns that are in the test set and not in the train set, we'll just drop them for simplicity's sake

In [81]:
house.drop(drop_col, axis='columns', inplace=True)
# drop_col

In [82]:
print(f"Number of observations in house: {colored(house.shape, 'green')}")
print(f"Number of observations in test: {colored(test_df.shape, 'green')}")

Number of observations in house: (1460, 243)
Number of observations in test: (1459, 242)

In [83]:
y = np.log(house['SalePrice'])
y = pd.DataFrame({'SalePrice_log': y})
X = house.drop(['SalePrice'], axis='columns')
y

      SalePrice_log
0             12.25
1             12.11
2             12.32
3             11.85
4             12.43
...             ...
1455          12.07
1456          12.25
1457          12.49
1458          11.86
1459          11.90

[1460 rows x 1 columns]

In [84]:
print(f"Number of observations in X: {colored(X.shape, 'green')}")
print(f"Number of observations in y: {colored(y.shape, 'green')}")

Number of observations in X: (1460, 242)
Number of observations in y: (1460, 1)

In [85]:
test_df = test_df.fillna(0)
np.any(np.isnan(test_df))

False

In [86]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
X_train.reset_index()
print("X_train:",X_train.shape)
print("X_test:",X_test.shape)
print("y_train:",y_train.shape)
print("y_test:",y_test.shape)

X_train: (1022, 242)
X_test: (438, 242)
y_train: (1022, 1)
y_test: (438, 1)

In [87]:
# First using a simple linear regression model with the SalePrice_log and SalePrice
from sklearn.linear_model import LinearRegression

lreg = LinearRegression()
lreg.fit(X_train, y_train)
lreg.score(X_test, y_test)

0.8831053035288541

In [88]:
y_pred = lreg.predict(test_df)
y_pred_results = pd.DataFrame(np.exp(y_pred))
y_pred_results
y_pred_df = pd.DataFrame(y_pred_results)
y_pred_df.index = range(1461, 2920)
y_pred_df.reset_index(level=0, inplace=True)
y_pred_df.columns = ['Id', 'SalePrice']
y_pred_df.to_csv('house_prices_regression_results.csv', index= False)
y_pred_df

        Id  SalePrice
0     1461 124,483.49
1     1462 136,074.96
2     1463 187,271.89
3     1464 199,929.05
4     1465 201,748.16
...    ...        ...
1454  2915  78,998.33
1455  2916  82,890.35
1456  2917 179,534.38
1457  2918 119,642.86
1458  2919 221,292.47

[1459 rows x 2 columns]

At this point the first iteration of my submission has happened already, and now I tried looking for better ways to analyse house price data

In [89]:
from sklearn.linear_model import Lasso
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import RobustScaler
lasso = make_pipeline(RobustScaler(), Lasso(alpha =0.0006, random_state=1))
lasso.fit(X_train, y_train)
lasso.score(X_test, y_test)

0.9074600017059269

In [90]:
y_pred_lasso = lasso.predict(test_df)
y_pred_lasso = pd.DataFrame(y_pred_lasso)
y_pred_lasso.index = range(1461, 2920)
y_pred_lasso.reset_index(level=0, inplace=True)
y_pred_lasso.columns = ['Id', 'SalePrice']
y_pred_lasso['SalePrice'] = np.exp(y_pred_lasso['SalePrice'])
y_pred_lasso.to_csv('lasso_results.csv', index=False)
y_pred_lasso

        Id  SalePrice
0     1461 113,771.73
1     1462 152,301.68
2     1463 182,091.87
3     1464 204,046.70
4     1465 207,961.18
...    ...        ...
1454  2915  81,008.88
1455  2916  85,092.22
1456  2917 181,698.38
1457  2918 116,924.61
1458  2919 226,926.95

[1459 rows x 2 columns]

In [91]:
X_train

,Id,MSSubClass,OverallQual,OverallCond,YearBuilt,YearRemodAdd,BsmtFinSF1,BsmtFinSF2,TotalBsmtSF,2ndFlrSF,...,SaleType_ConLI,SaleType_ConLw,SaleType_New,SaleType_Oth,SaleType_WD,SaleCondition_AdjLand,SaleCondition_Alloca,SaleCondition_Family,SaleCondition_Normal,SaleCondition_Partial
135,136,20,7,6,1970,1970,0,0,"1,304.00",0,...,0,0,0,0,1,0,0,0,1,0
1452,1453,180,5,5,2005,2005,547,0,547.00,0,...,0,0,0,0,1,0,0,0,1,0
762,763,60,7,5,2009,2009,24,0,756.00,783,...,0,0,0,0,0,0,0,0,1,0
932,933,20,9,5,2006,2006,0,0,"1,905.00",0,...,0,0,0,0,1,0,0,0,1,0
435,436,60,7,6,1996,1996,385,344,799.00,834,...,0,1,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1095,1096,20,6,5,2006,2006,24,0,"1,314.00",0,...,0,0,0,0,1,0,0,0,1,0
1130,1131,50,4,3,1928,1950,622,0,"1,122.00",653,...,0,0,0,0,1,0,0,0,1,0
1294,1295,20,5,7,1955,1990,167,0,864.00,0,...,0,0,0,0,1,0,0,0,1,0
860,861,50,7,8,1918,1998,0,0,912.00,514,...,0,0,0,0,1,0,0,0,1,0
1126,1127,120,7,5,2007,2007,0,0,"1,373.00",0,...,0,0,0,0,1,0,0,0,1,0